.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Dited;
  font-size: 60px;
  word-wrap: break-word;
  list-style: none;
  position: relative;
}

.buttonDelete {
  opacity: 0.5;
  transition: opacity 0.3s;
  cursor: pointer;
  right: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../../images/da3bd826876f76c.png);
  background-size: cover;
  display: block;
}

.buttonDelete:hover {
  opacity: 1;
}

.edit {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  flex: 1;
  outline: none;
  font-size: 20px;
}

.text {
  color: white;
  word-wrap: break-word;
  width: 70%;
  height: 100%;
  position: relative;
  transition: 1s;
}

.checkbox {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  border: 2px solid white;
  top: -2px;
  cursor: pointer;
}

.checkbox:checked::after {
  background-image: url(../../images/alien_pixel_icon-icons.com_60289.png);
  background-size: cover;
}

.block:hover {
  background-color: rgba(104, 29, 179, 0.431);
}

.textCompleted {
  color: grey;
  text-decoration: line-through;
  word-wrap: break-word;
  width: 70%;
  height: 100%;
  position: relative;
  transition: 1s;
}
